.searchbar {
  background-color: var(--enchanted-bg-primary);
  display: flex;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.searchInput {
  background-color: var(--enchanted-overlay-transparent);
  border: none;
  border-bottom: 1px solid var(--enchanted-border-color);
  color: var(--enchanted-text-primary);
  flex: 1;
  font-size: 12px;
  padding-left: 25px;
  width: 100%;
}

.searchInput:focus {
  outline: none;
}

.searchIcon {
  border-bottom: 1px solid var(--enchanted-border-color);
  flex: 0;
  padding: 8px;
}