/* Navigation css */
.navigationContainer {
  align-items: center;
  background-color: var(--enchanted-bg-primary);
  border-bottom: 1px solid var(--enchanted-border-color);
  display: flex;
  justify-content: space-between;
  padding: 25px;
  width: 100vw;
}

.navigationContainer img {
  flex: 0 0;
  height: 32px;
  margin-right: 16px;
  width: auto;
}

.navigationContainer img:hover {
  filter: brightness(0) saturate(100%) invert(72%) sepia(9%) saturate(1585%)
    hue-rotate(2deg) brightness(94%) contrast(92%);
}

.navList {
  gap: 16px;
}

.navItem {
  background-color: var(--enchanted-overlay-transparent);
  border: 1px solid var(--enchanted-overlay-transparent);
  border-radius: 8px;
  color: var(--enchanted-text-primary);
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  transition: all 0.2s ease-out;
}

.navItem span {
  margin-left: 8px;
  margin-top: 8px;
}

.navItem + .navItem {
  margin-left: 16px;
}

.navItem:hover,
.activeNavItem {
  background-color: var(--enchanted-bg-secondary);
  border-color: var(--enchanted-border-color);
  color: var(--enchanted-rarity-exotic);
  transition: all 0.2s ease-out;
}

.searchButton {
  background-color: var(--enchanted-bg-secondary);
  border: 1px solid var(--enchanted-border-color);
  border-radius: 8px;
  color: var(--enchanted-color-color-white);
  margin-left: 20px;
  margin-right: 25px;
  padding: 5px 16px;
  transition: all 0.2s ease-out;
}

.searchButton:hover {
  background-color: var(--enchanted-color-white);
  border-color: var(--enchanted-color-white);
  color: var(--enchanted-bg-primary);
}

@media (max-width: 1224px) {
  .navigationContainer {
    padding: 25px 10px;
  }

  .navigationContainer img {
    display: none;
  }

  .navItem {
    padding: 15px 10px;
  }

  .navItem + .navItem {
    margin-left: 0;
  }

  .searchButton {
    display: none;
  }
}
