.abilities {
  border-top: 1px dashed var(--enchanted-border-color);
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: 300;
}

.abilityItem p:nth-child(2),
.description p {
  color: var(--enchanted-text-secondary);
}

.abilityItem {
  margin-bottom: 30px;
}

.abilityItem img {
  filter: var(--enchanted-drop-shadow);
  width: 100%;
}