.gallery {
  border-top: 1px dashed var(--enchanted-border-color);
  font-weight: 300;
  padding-top: 30px;
  padding-bottom: 30px;
}

.galleryItem {
  margin-bottom: 30px;
}

.galleryItem img {
  filter: var(--enchanted-drop-shadow);
  width: 100%;
}

.galleryItem p:nth-child(2),
.description p {
  color: var(--enchanted-text-secondary);
}