.list {
  margin-left: 21px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.item {
  border-left: 1px solid var(--enchanted-border-color);
  padding: 5px 0px;
  transition: padding-left 0.1s ease-in-out, border-width 0.1s ease-in-out;
}

.activeItem, .item:hover {
  border-width: 3px;
  padding-left: 4px;
  color: var(--enchanted-text-primary);
  cursor: pointer;
}