.header {
  display: flex;
  font-weight: 300;
  justify-content: space-between;
  padding-bottom: 30px;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.infoRow {
  display: flex;
  gap: 10px;
  font-size: 14px;
}

.value {
  color: var(--enchanted-text-secondary);
}

.rarity {
  align-items: center;
  border-radius: 4px;
  font-size: clamp(8px, 5vw, 12px);
  padding: 8px;
  text-align: center;
}

.imageWrapper {
  align-items: center;
  background: var(--enchanted-background-gradient-primary);
  border: 1px solid var(--enchanted-border-color);
  display: flex;
  filter: var(--enchanted-drop-shadow);
  flex-shrink: 0;
  height: 200px;
  justify-content: center;
  width: 200px;
}

.imageWrapper > img {
  filter: var(--enchanted-drop-shadow);
  max-height: 65%;
  max-width: 65%;
  object-fit: contain;
}

.navLink {
  color: var(--enchanted-color-white);
  text-decoration: underline;
}

.navLink:hover {
  background-color: var(--enchanted-bg-secondary);
  border: 1px solid var(--enchanted-border-color);
  border-radius: 8px;
  color: var(--enchanted-color-khaki);
  padding: 3px 5px;
  text-decoration-color: var(--enchanted-color-transparent);
}

@media (max-width: 1024px) {
  .imageWrapper {
    height: 150px;
    width: 150px;
  }

  .imageWrapper > img {
    max-height: 80%;
    max-width: 80%;
  }
}