.header {
  display: flex;
  font-weight: 300;
  gap: 40px;
  padding-bottom: 30px;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.infoRow {
  display: flex;
  gap: 10px;
  font-size: 14px;
}

.value {
  color: var(--enchanted-text-secondary);
}

.rarity {
  align-items: center;
  border-radius: 4px;
  font-size: clamp(8px, 5vw, 12px);
  padding: 8px;
  text-align: center;
}

.imageWrapper {
  align-items: center;
  background: var(--enchanted-background-gradient-primary);
  border: 1px solid var(--enchanted-border-color);
  display: flex;
  filter: var(--enchanted-drop-shadow);
  flex-shrink: 0;
  height: clamp(90px, 15vw, 200px);
  justify-content: center;
  width: clamp(90px, 15vw, 200px);
}

.imageWrapper > img {
  filter: var(--enchanted-drop-shadow);
  height: clamp(70%, 15vw, 50%);
  width: clamp(70%, 15vw, 50%);
  object-fit: contain;
}

.navLink {
  color: var(--enchanted-color-white);
  text-decoration: underline;
}

.navLink:hover {
  color: var(--enchanted-rarity-exotic);
}

@media (max-width: 1024px) {  
  .header {
    gap: 15px;
  }
}