.abilities {
  border-top: 1px dashed var(--enchanted-border-color);
  padding-top: 30px;
}

.abilityItem p:nth-child(2),
.description p {
  color: var(--enchanted-text-secondary);
}

.abilityItem p:nth-child(1) {
  margin-top: 30px;
}

.abilityItem img {
  filter: var(--enchanted-drop-shadow);
  width: 100%;
}

.abilityItem > p > span {
  color: var(--enchanted-text-primary);
}