.introduction {
  color: var(--enchanted-color-white-smoke);
  font-weight: 200;
  margin: 76px auto;
  padding-bottom: clamp(32px, 5vw, 124px);
  max-width: 65ch;
  text-align: center;
}

.introduction p:first-child span {
  font-weight: bold;
}

.playButton,
.viewButton {
  border-radius: 2px;
  font-size: 14px;
  font-weight: 500;
  margin-top: 32px;
  padding: 16px 32px;
  transition: all 0.2s ease-out;
}

.playButton {
  background-color: var(--enchanted-color-khaki);
  border: 1px solid var(--enchanted-color-khaki);
  color: var(--enchanted-color-eerie-black);
  margin-right: 16px;
}

.playButton:hover,
.viewButton:hover {
  background-color: var(--enchanted-color-eerie-black);
  border: 1px solid var(--enchanted-color-eerie-black);
  color: var(--enchanted-color-white);
}

.viewButton {
  background-color: var(--enchanted-color-sky-blue);
  border: 1px solid var(--enchanted-color-sky-blue);
  color: var(--enchanted-color-eerie-black);
}