.imageWrapper img {
  display: block;
  margin: clamp(50px, 10vw, 145px) auto 0 auto;
  width: clamp(250px, 50vw, 500px); /* min 250px, scales with screen, max 500px */
  height: auto;
}

.developerName, .description {
  color: var(--enchanted-color-white-smoke);
  text-align: center;
}

.description {
  font-size: clamp(14px, 1vw, 20px); /* min 14px, scales with width, max 20px */
  margin: clamp(50px, 10vw, 155px) auto 0 auto;
  max-width: 80%;
  width: 750px;
}

.navigationCards {
  margin: 50px auto 0 auto;
  width: 70%;
}

.navigationCards a {
  text-decoration: none;
  color: inherit;
}

.paginationConrols {
  display: flex;
  gap: 20px; /* spacing between arrows */
  justify-content: center;
  margin: 15px auto 0 auto;
}