.navigationContainer {
  background-color: var(--enchanted-bg-primary);
  border-bottom: 1px solid var(--enchanted-border-color);
  display: flex;
  width: 100vw;
}

.navigationContainer img {
  border-right: 1px solid var(--enchanted-border-color);
  height: 75px;
  padding: 15px;
  width: auto;
}

.navList {
  display: flex;
}

.navItem {
  align-items: center;
  background-color: var(--enchanted-overlay-transparent);
  border-right: 1px solid var(--enchanted-border-color);
  display: flex;
  justify-content: center;
  padding: 15px;
}

.navItem:hover {
  background-color: var(--enchanted-rarity-epic);
}

.activeNavItem {
  padding-top: 18px;
  border-bottom: 3px solid var(--enchanted-rarity-epic);
}