/* Sidebar */
.sidebar {
  background-color: var(--enchanted-bg-primary);
  border-right: 1px solid var(--enchanted-border-color);
  color: var(--enchanted-text-secondary);
  flex-shrink: 0;
  height: 100%;
  overflow-y: auto;
  width: clamp(184px, 25vw, 271px);
}

/* Parent Categories */
.listItem {
  align-items: center;
  border-bottom: 1px solid var(--enchanted-border-color);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  text-indent: 20px;
}

.listItemWrapper:last-child .listItem {
  border-bottom: 1px solid var(--enchanted-border-color);
}

.listItem span:last-child {
  transform: rotate(0deg);
  transition: transform ease-in-out 0.5s;
}

.listItem {
  cursor: pointer;
}

.activeListItemWrapper .listItem {
  border-right: 2px solid var(--enchanted-rarity-exotic);
  border-bottom: 1px solid var(--enchanted-border-color);
  color: var(--enchanted-rarity-exotic);
  padding-right: 8px;
}

.activeListItemWrapper .listItem span:last-child {
  transform: rotate(315deg);
  transition: transform ease-in-out 0.5s;
}

/* Child Categories */
.subListWrapper {
  max-height: 0;
  overflow-y: hidden;
  transition: max-height ease-out 0.5s;
}

.subListWrapperOpenAnimation {
  border-bottom: 1px solid var(--enchanted-border-color);
  max-height: 1000px;
  transition: max-height ease-in 0.5s;
}

.subListItem {
  padding: 5px 0px;
  text-indent: 30px;
}

.subListItemChild {
  cursor: pointer;
  margin: 0px 30px;
  padding-left: 15px;
}

.subListWrapperOpenAnimation {
  padding-top: 5px;
  padding-bottom: 20px;
}