.contentComponentContainer {
  padding-top: 20px;
  padding-bottom: 20px;
}

.categoryBorders {
  background-color: var(--enchanted-bg-secondary);
  border: 1px solid var(--enchanted-border-color);
  border-radius: 8px;
  box-shadow: 0px 0px 15px var(--enchanted-box-shadow-color);
  padding: 10px;
}

.categoryWrapper {
  flex: 1 1 400px;
  padding: 20px 50px;
}

.categoryHeader {
  font-size: 20px;  
}

.contentWrapper {
  background-color: var(--enchanted-bg-accent);
  border: 1px solid var(--enchanted-border-color);
  border-radius: 8px;
  box-shadow: 0px 0px 20px var(--enchanted-box-shadow-color);
  margin-top: 10px;
  padding: 10px;
}

.contentCard {
  border: 2px solid var(--enchanted-border-color);
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  padding: 10px;
  text-align: center;
  background: var(--enchanted-background-gradient-primary);
}

.contentCard:hover {
  box-shadow: 0px 0px 15px var(--enchanted-box-shadow-color);
}

.contentCardImage {
  height: 50px;
  margin-bottom: 15px;
}

.contentCardImage img {
  align-items: center;
  display: flex;
  filter: var(--enchanted-drop-shadow);
  justify-self: center;
  height: 100%;
}

/* Below Medium Screens */
@media (max-width: 1024px) {
  .contentComponentContainer {
    padding-top: 10px;
  }

  .categoryWrapper {
    padding: 0px 10px;
  }

  .categoryBorders {
    margin-bottom: 15px;
  }
}