.timer {
  border-top: 1px solid var(--enchanted-border-color);
  padding: 50px 0;
  text-align: center;
}

.timer p {
  color: var(--enchanted-text-tertiary);
}

.timerWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  justify-self: center;
  margin-top: 40px;
  width: 75%;
}