.timer {
  background-color: var(--enchanted-bg-primary);
  border-top: 1px solid var(--enchanted-border-color);
  overflow: hidden;
  padding: 82px 0 90px 0;
  text-align: center;
  transition: max-height 0.2s ease-in-out, padding 0.2s ease-in-out;
}

.timer p {
  color: var(--enchanted-text-tertiary);
}

.timer h2 {
  text-shadow: var(--enchanted-text-shadow);
}

.timerWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  justify-self: center;
  margin-top: 40px;
  width: 75%;
}

.toggleTimerButton {
  background-color: var(--enchanted-bg-primary);
  border: none;
  border-top: 1px solid var(--enchanted-border-color);
  color: var(--enchanted-text-primary);
  display: none;
  font-size: 12px;
  padding: 16px;
  text-align: center;
  width: 100%;
  transition: all 0.2s ease-in-out;
}

@media (max-width: 1024px) {
  .showTimer {
    max-height: 2000px;
  }

  .timer {
    padding: 48px 0;
  }

  .toggleTimerButton {
    display: block;
  }
}

.hideTimer {
  border-top: none;
  max-height: 0;
  padding: 0;
}
