.brand {
  align-items: center;
  color: var(--enchanted-text-secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 25px;
  text-align: center;
}

.imageWrapper {
  height: 100px;
}

.imageWrapper img {
  display: block;
  filter: drop-shadow(0 0px 10px rgba(0, 0, 0, 0.5))
    drop-shadow(0 0 1px var(--enchanted-rarity-exotic));
  height: 100%;
  width: auto;
}