.homePageContainer {
  height: 100vh;
  justify-content: center;
  align-content: center;
}

/* Right-side panel wrapper */
.rightPanel {
  background: transparent;
  height: 100vh;
  overflow-y: auto;
  padding: 15px;
  position: fixed;
  right: 0;
  top: 0;
  width: auto;
}

/* Responsive Behavior */
@media (max-width: 1024px) {
  .rightPanel {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    overflow-y: hidden;
    overflow-x: auto; /* Switch to horizontal scroll */
    padding: 10px 0;
    position: static;
    width: 100%;
  }
}
