.homePageContainer {
  height: 100vh;
}

.scrollable {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.stickyNavbar {
  margin-top: 32px;
  position: sticky;
  top: 0;
  z-index: 500;
}

@media (max-width: 1024px) {
  .stickyNavbar {
    margin-top: 0px;
  }
}