.reactCountdown {
  /* background: rgba(0, 0, 0, 0.3); */
  /* border: 1px solid var(--enchanted-bg-accent); */
  /* background-color: var(--enchanted-color-gray); */
  /* background: var(--enchanted-background-gradient-primary-reverse); */
  background-color: var(--enchanted-bg-secondary);
  border: 1px solid var(--enchanted-border-color);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 300;
  padding: 15px;
  text-align: center;
  user-select: none;
}

.label {
  color: var(--enchanted-text-primary);
  font-size: 14px;
  margin-bottom: 6px;
}

.subLabel {
  color: var(--enchanted-text-secondary);
  font-size: 12px;
  margin-top: -5px;
  margin-bottom: 5px;
}

/* Active States */
.activeReactCountdown {
  background: var(--enchanted-color-blue);
  border: 1px solid var(--enchanted-color-blue);
}

.activeReactCountdown .subLabel {
  color: var(--enchanted-text-primary);
}

/* Hovered States */
.reactCountdown:hover {
  border: 1px solid var(--enchanted-color-blue);
}

/* === Time box pulse animation === */
@keyframes pulseRadiate {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 132, 209, 0.5);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(0, 132, 209, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 132, 209, 0);
  }
}

/* When active, apply both animations */
.pulseAnimation {
  animation: pulseRadiate 1s ease-out infinite;
  transition: transform 0.2s ease-in-out;
}

.clickPulse {
  animation: pulseRadiate 0.5s ease;
}