.cardContainer {
  align-items: center;
  background-color: var(--enchanted-color-darker);
  border: 1px solid var(--enchanted-color-charcoal);
  cursor: pointer;
  display: flex;
  justify-content: center;
  min-height: 50px;
  width: 100%;
}

.cardContainer + .cardContainer {
  border-left: none;
}

.cardContainer:hover {
  background-color: var(--enchanted-color-darkest);
}

.cardIconContainer {
  text-align: center;
}