.cardContainer {
  align-items: center;
  background-color: var(--enchanted-color-darker);
  border: 1px solid var(--enchanted-color-charcoal);
  cursor: pointer;
  display: flex;
  justify-content: center;
  min-height: 50px;
  width: 100%;
  transition: box-shadow 0.3s ease;
}

.cardContainer + .cardContainer {
  border-left: none;
}

.cardContainer:hover {
  box-shadow: inset 0 0 100px 100px var(--enchanted-color-darkest);
}

.cardIconContainer {
  text-align: center;
}