/* @import 'bootstrap/dist/css/bootstrap.min.css'; */
@import 'tailwindcss';

body {
  background-color: var(--enchanted-bg-primary);
  color: var(--enchanted-text-primary);
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
}

/* Entire scrollbar */
*::-webkit-scrollbar {
  height: 8px; /* horizontal scrollbar height */
  width: 8px;  /* vertical scrollbar width */
}

/* Scrollbar track (background) */
*::-webkit-scrollbar-track {
  background: var(--enchanted-bg-secondary);
  border-radius: 4px;
}

/* Scrollbar thumb (the draggable part) */
*::-webkit-scrollbar-thumb {
  background-color: var(--enchanted-bg-accent);
  border-radius: 4px;
  border: 2px solid var(--enchanted-bg-secondary); /* optional padding effect */
}

/* Scrollbar thumb on hover */
*::-webkit-scrollbar-thumb:hover {
  background-color: var(--enchanted-text-primary);
}