:root {
  /* Theme - Black */
  /* Background & Text colors */
  --enchanted-bg-primary: #010B13;
  --enchanted-bg-secondary: #10141E;
  --enchanted-bg-accent: #1C2029;
  --enchanted-text-primary: oklch(0.928 0.006 264.531);
  --enchanted-text-secondary: #A6AAB2;
  --enchanted-text-tertiary: #8C9098;

  /* Special colors */
  --enchanted-color-blue: #0084D1;
  --enchanted-border-color: #282C35;
  --enchanted-overlay-transparent: transparent;

  /* Rarity colors*/
  --enchanted-rarity-common: #96999E;
  --enchanted-rarity-uncommon: #216E4E;
  --enchanted-rarity-rare: #669DF1;
  --enchanted-rarity-epic: #803FA5;
  --enchanted-rarity-legendary: #FCA700;
  --enchanted-rarity-mythical: #AE2E24;
  --enchanted-rarity-exotic: #4BCE97;
  --enchanted-rarity-v2: #520E13;
  --enchanted-rarity-secret: #261434;
  --enchanted-rarity-exclusive: #FFBE3D;

  /* Global stylings*/
  --enchanted-box-shadow-color: rgba(0,0,0, 0.5);
  --enchanted-box-shadow: 0px 0px 5px var(--enchanted-box-shadow-color);
  --enchanted-drop-shadow: drop-shadow(5px 10px 6px rgba(0, 0, 0, 0.5));
  --enchanted-drop-shadow-exotic: drop-shadow(0px 0px 3px rgba(94, 233, 181, 0.5));
  --enchanted-text-shadow: 5px 10px 6px rgba(0, 0, 0, 0.5);
  --enchanted-background-gradient-primary: linear-gradient(
    135deg,
    var(--enchanted-bg-accent),
    var(--enchanted-bg-secondary),
    var(--enchanted-bg-primary)
  );
  --enchanted-background-gradient-primary-reverse: linear-gradient(
    135deg,
    var(--enchanted-bg-primary),
    var(--enchanted-bg-secondary),
    var(--enchanted-bg-accent)
  );

  /* Solid colors */
  --enchanted-color-white: #FFFFFF;
  --enchanted-color-white-smoke: #F0F0F0;
  --enchanted-color-light-gray: #CED0D4;
  --enchanted-color-silver-light-gray: #CCCCCC;
  --enchanted-color-silver: #BCBCBC;
  --enchanted-color-sky-blue: #59C1DE;
  --enchanted-color-khaki: #C8AA6E;
  --enchanted-color-khaki-dark: #8C6F42;
  --enchanted-color-gray: #2B2A29;
  --enchanted-color-jet: #292929;
  --enchanted-color-navy-blue: #161F32;
  --enchanted-color-eerie-black: #1F1F1F;
  --enchanted-color-indigo: #180D43;
  --enchanted-color-oxford-blue: #0A1428;
  --enchanted-color-rich-black: #141212;
  --enchanted-color-eerie-black: #111111;
  --enchanted-color-onyx: #050505;

  /* Transparent colors */
  --enchanted-color-transparent: transparent;
  --enchanted-color-gray-transparent: #80808033;
  --enchanted-color-black-transparent: #00000073;
  --enchanted-color-khaki-transparent: #C8AA6E1A;
  --enchanted-color-sky-blue-transparent: #59C1DE1A;
  --enchanted-color-silver-transparent: #BCBCBC1A;

}