:root {
  /* Theme - Bluish */
  /* Background colors */
  --enchanted-bg-primary: #030712;              /* main app background */
  --enchanted-bg-secondary: #10141E;            /* darker background for cards or sections */
  --enchanted-bg-accent: #1C2029;               /* accent areas, sidebars, headers */

  /* Text colors */
  --enchanted-text-primary: #FFFFFF;            /* title, headers */
  --enchanted-text-secondary: #A6AAB2;          /* main text */
  --enchanted-text-tertiary: #99A1AF;           /* secondary text, muted info */
  --enchanted-text-cyan: #74D4FF;

  /* Special colors */
  --enchanted-border-color: #1D202A;            /* borders, lines */
  --enchanted-overlay-transparent: transparent;   /* overlays, modals */

  /* Theme - Black */
  /* Background colors */
  --enchanted-bg-primary: #010B13;              /* main app background */
  --enchanted-bg-secondary: #004241;            /* darker background for cards or sections */
  --enchanted-bg-006A4F: #1C2029;               /* accent areas, sidebars, headers */

  /* Text colors */
  --enchanted-text-primary: #FFFFFF;            /* title, headers */
  --enchanted-text-secondary: #A6AAB2;          /* main text */
  --enchanted-text-tertiary: #99A1AF;           /* secondary text, muted info */
  --enchanted-text-cyan: #74D4FF;

  /* Special colors */
  --enchanted-border-color: #333333;
  /* --enchanted-border-color: #4E5158; */
  --enchanted-overlay-transparent: transparent;   /* overlays, modals */

  /* Rarity colors*/
  --enchanted-rarity-common: #99A1AF;
  --enchanted-rarity-uncommon: #05df72;
  --enchanted-rarity-rare: #2B7FFF;
  --enchanted-rarity-epic: #AD46FF;
  --enchanted-rarity-legendary: #FF6900;
  --enchanted-rarity-mythical: #FB2C36;
  --enchanted-rarity-exotic: #5EE9B5;
}