:root {
  /* Theme - Black */
  /* Background & Text colors */
  --enchanted-bg-primary: #010B13;
  --enchanted-bg-secondary: #10141E;
  --enchanted-bg-accent: #1C2029;
  --enchanted-text-primary: #FFFFFF;
  --enchanted-text-secondary: #A6AAB2;
  --enchanted-text-tertiary: #8C9098;

  /* Special colors */
  --enchanted-border-color: #282C35;
  --enchanted-overlay-transparent: transparent;

  /* Rarity colors*/
  --enchanted-rarity-common: #96999E;
  --enchanted-rarity-uncommon: #216E4E;
  --enchanted-rarity-rare: #669DF1;
  --enchanted-rarity-epic: #803FA5;
  --enchanted-rarity-legendary: #FCA700;
  --enchanted-rarity-mythical: #AE2E24;
  --enchanted-rarity-exotic: #4BCE97;
  --enchanted-rarity-v2: #520E13;

  /* Global stylings*/
  --enchanted-box-shadow: 0px 0px 5px var(--enchanted-box-shadow-color);
  --enchanted-box-shadow-color: rgba(0,0,0, 0.3);
  --enchanted-drop-shadow: drop-shadow(5px 10px 6px rgba(0, 0, 0, 0.5));
  --enchanted-drop-shadow-exotic: drop-shadow(0px 0px 3px rgba(94, 233, 181, 0.5));
  --enchanted-background-gradient-primary: linear-gradient(
    135deg,
    var(--enchanted-bg-accent),
    var(--enchanted-bg-secondary),
    var(--enchanted-bg-primary)
  );
  --enchanted-background-gradient-primary-reverse: linear-gradient(
    135deg,
    var(--enchanted-bg-primary),
    var(--enchanted-bg-secondary),
    var(--enchanted-bg-accent)
  );
}